@import 'libs/vars';
@import 'libs/functions';

.spotlight {
  .content {
    .serviceinfo {
      margin-top: -28px;
      margin-bottom: 32px;
      color: _palette(fg-bold);
			// Small.
      @include breakpoint('<=medium') {
        margin-top: -16px;
      }
    }
  }
}